body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.site-header {
  margin-top: 20px;
}

h1.dev-name {
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.dev-info {
  text-align: right;
}

img {
  width: 100%;
}

div.color-palette {
}

div.color-box {
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
}

div.color-1 {
  background-color: red;
}

div.color-2 {
  background-color: green;
}

div.color-3 {
  background-color: blue;
}
