body {
  font-size: 13px;
  padding-bottom: 20px;
}

figcaption {
  text-align: center;
}

img {
  width: 100%;
}

article {
  text-align: center;
}

/** styles for elements in header **/
.site-header {
  margin-top: 20px;
}

.logo img {
  width: 60px;
  max-width: 100%;
}

.dev-name {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.dev-info {
  text-align: right;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/** styles for elements in sidebar **/
.color-image {
  margin: 0 auto;
}

.color-image img {
  display: block;
  width: 66.67%;
}

.color-code {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/** styles for elements in main section **/
.markup-image {
  border-top: 2px solid gray;
  padding-top: 15px;
}

.featured-title {
  padding-left: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.article-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.details button {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/** styles for elements in modal dialog **/
.modal-body img {
  width: 50%;
  margin: 0 auto;
}

.modal-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.modal-body .description {
  margin-top: 1.5em;
  text-align: left;
}

.modal-footer button {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/** media queries for devices of different resolution **/
/** breakpoint one: 480px **/
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }

  .dev-name {
    font-size: 1.5em;
  }

  .featured-title {
    font-size: 1.2em;
  }

  .dev-title, .article-title {
    font-size: 1.1em;
  }

  .dev-title {
    margin-top: 5px;
  }
}

/** breakpoint two: 600px **/
@media screen and (max-width: 600px) {
  figcaption {
    font-size: 0.7em;
    margin: 3px 0;
  }

  .color-image img {
    margin: 0 0 0 auto;
  }

  .article-title {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 601px) {
  figcaption {
    font-size: 1em;
    margin: 5px 0;
  }

  .color-image img {
    margin: 0 auto;
  }
}
